*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 8px #2b2a2a;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #0445a5;
}
.left-side img{
    height: 40px;
    margin: 10px;
}
.center{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.center2{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
#search-box{
    border: none;
    width:400px;
    height: 35px;
    background-color: rgb(245, 242, 242);
    padding-left: 35px;
    outline: none;
}
#search-icon{
    position: absolute;
    padding: 10px;
    color: #929191;
}
.right-side{
    display: flex;
    align-items: center;
}
.right-side a{
    text-decoration: none;
    color: white;
}
.button{
    border: 1px solid white;
    margin-right: 25px;
    padding: 8px;
    border-radius: 5px;
    
}
.button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main {
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
    margin-top: 60px;
    
}
.slick-dots {
    list-style-type: none;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots button {
    display: inline-block;
    font-size: 0px;
    color: #ccc;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0;
    margin-left: 6px;
    margin-right: 6px;
    outline: none;
    cursor: pointer;
}

.slick-active button {
    background-color: #aaa;
}

.images{
    height: 600px;
}

#heading{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    padding: 20px 0;
    width: 100%;
    background-color: #0445a5;
    color: white;
}
#teams {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 50px 10%;
}
#teamInfo0 {
    width: 20%;
    margin: 10px 10px 60px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
    background-color: #ffc107;
    border-radius: 5px;
    text-decoration: none;
}
#teamInfo1 {
    width: 20%;
    margin: 10px 10px 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
    background-color: #dc3545;
    border-radius: 5px;
    text-decoration: none;
}
#teamInfo2 {
    width: 20%;
    margin: 10px 10px 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
    background-color: #0dcaf0;
    border-radius: 5px;
    text-decoration: none;
}
#teamInfo3 {
    width: 20%;
    margin: 10px 10px 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
    background-color: #ffc107;
    border-radius: 5px;
    text-decoration: none;
}
#teamInfo4 {
    width: 20%;
    margin: 10px 10px 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
    background-color: #bad1f3;
    border-radius: 5px;
    text-decoration: none;
}
#teamInfo5 {
    width: 20%;
    margin: 10px 10px 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
    background-color: #0d6efd;
    border-radius: 5px;
    text-decoration: none;
}
#teamInfo6 {
    width: 20%;
    margin: 10px 10px 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
    background-color: #dc3545;
    border-radius: 5px;
    text-decoration: none;
}
#teamInfo7 {
    width: 20%;
    margin: 10px 10px 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
    background-color: #d63384;
    border-radius: 5px;
    text-decoration: none;
}
#teamInfo8 {
    width: 20%;
    margin: 10px 10px 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
    background-color: #4e4641;
    border-radius: 5px;
    text-decoration: none;
}
#teamInfo9 {
    width: 20%;
    margin: 10px 10px 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
    background-color: #fd7e14;
    border-radius: 5px;
    text-decoration: none;
}
.mainimage0 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.mainimage1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;

}
.mainimage2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}
.mainimage3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}
.mainimage4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
.mainimage5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;

}
.mainimage6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
.mainimage7 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}
.mainimage8 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.mainimage9 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}
.teamName{
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    font-weight: 600;
    margin: 12px 0 20px;
}
footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 37px;
}
.main{
  
    background-color: #f0f2f8;
    display: flex;
}
#right-div{
    width: 25%;
    
}
#left-div{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
    padding: 50px 10%;
}
#playerInfo {
    width: 25%;
    margin: 10px 20px 60px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.mainimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#teamName{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.team-page-icon{
    width: 250px;
}
.teamInfo{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 60px;
}
.teamInfo table {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
    
}
.teamInfo td {
    padding-top: 5px;
    padding-bottom: 25px;
    color: black;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.playerInfo{
    border-top: 1px solid black;
    text-align: center;
}
.playerImage{
    height: 260px;
}
#player-info{
    display: flex;
    align-items: center;
}
#player-detail-img{
    width: 50%;
}
#player-detail-img img{
    width: 86%;
}
#player-stats table,
      th,
      td {
        border: 1px solid black;
}
#player-stats td {
    padding-top: 5px;
    padding-bottom: 5px;
}
#add-team {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#addteamform {
    background-color: #0445a5;
    border-radius: 20px;
    margin: 10px 0;
    width: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 60px 0;
}
#addteamform p {
    font-size: 24px;
    padding: 20px 0 20px 0;
    font-weight: 500;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
#addteamform input {
    width: 70%;
    height: 40px;
}
#addteamform select {
    width: 70%;
    height: 40px;
}
  
#addteamform button {
    display: block;
    font-size: 16px;
    margin-top: 50px;
    font-weight: 600;
    color: black;
    padding: 16px 30px;
    letter-spacing: 2px;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#addteamform button:hover {
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}
#team-heading{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
}